<!-- contact us form (modal) -->
<div id="contact-us"></div>

<!-- Google Analytics -->
<script>
	window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
	ga('create','UA-105578146-1','auto');ga('send','pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>

<!-- vue.js for modals -->
<%= partial "partials/vue_templates" %>
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<%= javascript_include_tag "site" %>
