<% require 'json' %>

<script type="text/javascript">
  window.data = window.data ? window.data : {};
  window.data.offices = <%= data.offices.offices.to_json %>;
  window.data.contactFormEndpoint = '<%= data.site.site.contact_form_endpoint %>';
</script>

<script type="text/x-template" id="contact-us-step-one-template">
  <section class="modal fade is-active">
    <a class="modal-close" href="#!" v-on:click="closeModal">&times;</a>
    <div class="modal-content">
      <div class="modal-body">
        <div>
          <div>
            <h2 style="text-align: center;">Let us show you Foodkit</h2>
            <p style="text-align: center;">Leave your contact details below. 
              A customer service officer will contact you to arrange a demo and show you how to get started.</p>
          </div>
          <div class="form-field">
            <div class="form-input-container">
              <input class="form-input" v-model="email" v-on:change="onFormChanged" type="email" placeholder="Business email address" autocomplete="off" required="required" />
            </div>
            <ul class="validation-messages" v-if="errors.email">
              <li>
                <label for="email" role="alert" class="form-inline-message">A valid email address is required</label>
              </li>
            </ul>
          </div>
          <div>
            <button v-on:click="onFormSubmitted" class="btn btn-primary btn-lg badge-pill text-uppercase">Continue</button>
          </div>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </section>
</script>

<script type="text/x-template" id="contact-us-step-two-template">
  <section class="modal fade is-active">
    <a class="modal-close" href="#!" v-on:click="closeModal">&times;</a>
    <div class="modal-content">
      <div class="modal-body">
        <div>
          <div>
            <h2 style="text-align: center;">Your Contact Details</h2>
            <p style="text-align: center;">Please provide your full contact details below. 
          </div>
          <div class="form-field">
            <div class="row">
              <div class="form-input-container col-md-6">
                <input class="form-input" id="first_name" v-model="first_name" type="text" placeholder="First name" autocomplete="off">
              </div>
              <div class="form-input-container col-md-6">
                <input class="form-input" id="last_name" v-model="last_name" type="text" placeholder="Last name" autocomplete="off">
              </div>
            </div>
            <div class="form-input-container">
              <input class="form-input" id="phone_number" v-model="phone_number" type="text" placeholder="Phone number" autocomplete="off">
            </div>
            <div class="form-input-container">
              <input class="form-input" id="business_name" v-model="business_name" type="text" placeholder="Business or company name" autocomplete="off">
            </div>
          </div>
          <div>
            <button v-on:click="onFormSubmitted" class="btn btn-primary btn-lg badge-pill text-uppercase">Book Demo</button>
          </div>
          <div class="pt-4">
            <p style="text-align: center;">You can also call us:</p>
            <ul class="contact-us row">
              <li v-for="office in offices" class="col-md-6">{{ office.title }} {{ office.phone }}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </section>
</script>

<script type="text/x-template" id="contact-us-step-three-template">
  <section class="modal fade is-active">
    <a class="modal-close" href="#!" v-on:click="closeModal">&times;</a>
    <div class="modal-content">
      <div class="modal-body">
        <div>
          <div>
            <h2 style="text-align: center;">Inquiry submitted.</h2>
            <p style="text-align: center;">Thanks for reaching out. A member of our team will be in contact soon.</p>
          </div>
          <div>
            <button v-on:click="onFormSubmitted" class="btn btn-primary btn-lg badge-pill text-uppercase">Close</button>
          </div>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </section>
</script>
