.text-info-description {
	font-weight: 300;
	line-height: 25px;
	margin-bottom: 76px;
	p {
		&:only-child, &:last-of-type {
			margin-bottom: 0;
		}
	}
}

.list-description {
	@include media('>=widescreen') {
		padding: 0 35px 0 50px;
	}
	.media {
		&:not(:last-of-type) {
			margin-bottom: 92px;
			@include media('>=tablet') {
				margin-bottom: 120px;
			}
			@include media('>=widescreen') {
				margin-bottom: 140px;
			}
		}
	}
	.static-img {
		padding: 0 0 10px;
		@include media('>=tablet') {
			padding: 53px 0 6px;
		}
		&:before {
			top: 0;
			left: 93%;
			z-index: -1;
			width: 164px;
			height: 100%;
			position: absolute;
			background: url('../images/decoration-large-2x.png') no-repeat;
			background-size: contain;
			@include media('>=tablet') {
				content: '';
			}
		}
	}
	.small-img {
		bottom: 0;
		right: -7px;
		@include media('>=tablet') {
			right: -28px;
		}
	}
	.media-body {
		font-weight: 300;
		line-height: 25px;
		@include media('<tablet') {
			margin-bottom: 35px;
		}
		@include media('>=tablet') {
			width: 40%;
			max-width: 350px;
			line-height: 31px;
		}
		@include media('>desktop') {
			width: 50%;
			max-width: 453px;
		}
		.title {
			margin-bottom: 19px;
			@include media('>=tablet') {
				font-size: 34px;
				margin-bottom: 15px;
			}
		}
		p {
			&:only-child, &:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}