.btn {
	outline: none;
	cursor: pointer;
	&:focus, &.focus {
		box-shadow: none;
	}
	&[class*='-warning'] {
		color: $btn-warning-color;
		&[class*='-custom'] {
			background: #ffb000;
		}
	}
	&[class*='-light'] {
		&[class*='-custom'] {
			color: $btn-light-color;
		}
		&:active, &.active {
			border-color: theme-color("light");
		}
	}
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
	cursor: pointer;
	outline: none !important;
}