$careers-section-preview-height: 589px;

.modal-active {
	overflow: hidden;
}

#wrapper {
	min-width: 320px;
	overflow: hidden;
	position: relative;
	.collapsed-btn & {
		@include media('<tablet') {
			width: 100vw;
			height: 100vh;
			overflow: hidden;
		}
	}
	> div {
		@include media('<tablet') {
			transition: transform $animation-speed ease-in-out;
		}
		.collapsed-btn & {
			@include media('<tablet') {
				transform: translate(-290px, 0);
			}
			@include media('<375px') {
				transform: translate(-235px, 0);
			}
		}
	}
}

.container {
	width: 100%;
}

#main {
	> div:not(.jumbotron):first-child,
	.jumbotron .section-wrapper {
		margin-top: -64px;
		padding-top: 75px;
		@include media('>=tablet') {
			padding-top: 110px;
			margin-top: -106px;
		}
	}
	&.content-api-page > div:first-child {
		padding-bottom: 0;
	}
}

.jumbotron, .section-page-header, .section-carousel, .section-services-box {
	background: linear-gradient(to right, rgba(#23ae86, 1) 0%, rgba(#01a0d5, 1) 100%);
}

.jumbotron, .section-page-header,
.section-carousel, .section-services-box {
	z-index: 0;
	.section-wrapper {
		overflow: hidden;
		&:before, &:after {
			top: 100%;
			width: 51%;
			content: '';
			z-index: -1;
			height: 150px;
			position: absolute;
			background: $body-bg;
		}
		&:before {
			transform-origin: 100% 0;
			transform: skewY(13deg);
			@include media('>=tablet') {
				transform: skewY(6.5deg);
			}
		}
		&:after {
			right: 0;
			transform-origin: 0 100%;
			transform: skewY(-13deg);
			@include media('>=tablet') {
				transform: skewY(-6.5deg);
			}
		}
	}
}

.jumbotron {
	z-index: 1;
	padding: 0;
	border-radius: 0;
	margin-bottom: 0;
	&:before , &:after {
		z-index: 1;
		content: '';
		width: 586px;
		height: 167px;
		position: absolute;
		background: url('../images/section-small-decoration-2x.png') no-repeat;
		background-size: contain !important;
		@include media('>=tablet') {
			width: 1140px;
			height: 325px;
			background: url('../images/section-large-decoration-2x.png') no-repeat;
		}
	}
	&:before {
		bottom: 0;
		left: -100%;
		transform: rotate(-5deg);
		@include media('>=tablet') {
			left: calc(50vw - 1248px);
			bottom: -18%;
		}
	}
	&:after {
		top: 12%;
		right: calc(50vw - 1102px);
		left: 68%;
		@include media('>=tablet') {
			left: inherit;
		}
	}
	.section-wrapper {
		padding-bottom: 48px;
		@include media('>=tablet') {
			padding-bottom: 63px;
		}
		&:before, &:after {
			background: #E7F6FB;
		}
	}
	.section-wrapper:before, + .section-services:before {
		@include media('<tablet') {
			transform: skewY(9deg);
		}
	}
	.section-wrapper:after
	, + .section-services:after {
		@include media('<tablet') {
			transform: skewY(-9deg);
		}
	}
	+ .section-services {
		z-index: -1;
	}
	.holder {
		padding: 17px 0 184px;
		@include media('>=tablet') {
			padding: 57px 0 267px;
		}
	}
	.title {
		line-height: 36px;
		@include media('<tablet') {
			font-size: 27px;
		}
		@include media('>=tablet') {
			line-height: 60px;
		}
	}
	.jumbotron-holder {
		font-weight: 300;
		@include media('>=widescreen') {
			padding-left: 18px;
		}
	}
	.title {
		margin-bottom: 15px;
		@include media('>=tablet') {
			margin-bottom: 17px;
		}
	}
	.text-holder {
		line-height: 32px;
		margin-bottom: 56px;
		@include media('<tablet') {
			font-size: 14px;
			line-height: 22px;
			margin-bottom: 28px;
		}
	}
	.btn {
		font-size: 12px;
		min-width: 142px;
		padding-top: 8px;
		padding-bottom: 6px;
		box-shadow: 1px 5px 25px rgba($black, .1);
		@include media('>=tablet') {
			font-size: 17px;
			min-width: 217px;
			padding-top: 13px;
			padding-bottom: 12px;
		}
	}
}

.video-box {
	left: 44%;
	bottom: 0;
	width: 77%;
	z-index: 100;
	@include media('>=phone') {
		left: 64%;
		width: 60%;
	}
	@include media('>=tablet') {
		left: 52%;
		width: 70%;
	}
	.desktop-motion {
		bottom: 0;
		width: 100%;
		bottom: -44px;
		@include media('>=tablet') {
			bottom: -49px;
		}
		img {
			width: 100%;
		}
	}
	.bg-video-holder {
		padding-top: 60%;
		overflow: hidden;
		position: relative;
		background-size: cover;
		.bg-video {
			top: 0;
			left: 0;
			opacity: 0;
			position: absolute;
			pointer-events: none;
			transition: opacity .3s ease;
		}
	}
	.video-active .bg-video {
		opacity: 1;
	}
	.bg-video-holder {
		top: 9%;
		left: 4.7%;
		right: 10%;
		width: 84.4%;
		transform-origin: 50% 50%;
		transform: perspective(2000px) rotateX(17deg) rotateY(-37deg) rotateZ(32deg) skew(11.1deg, -25.5deg);
		@include media('>=tablet') {
			top: 9%;
			left: -.3%;
			width: 95.4%;
			width: 100.4%;
			transform: perspective(2000px) rotateX(25deg) rotateY(-35deg) rotateZ(28deg) skew(11.1deg, -17.5deg);
		}
		@include media('>=desktop') {
			top: 9%;
			left: 4.7%;
			width: 84%;
			transform: perspective(2000px) rotateX(18deg) rotateY(-29deg) rotateZ(27deg) skew(11.2deg, -22.2deg);
		}
	}
}

.section-page-header {
	&:before , &:after {
		z-index: -1;
		content: '';
		position: absolute;
		background: url('../images/section-small-decoration-2x.png') no-repeat;
		background-size: contain !important;
		@include media('>=tablet') {
			background: url('../images/section-large-decoration-2x.png') no-repeat;
		}
	}
	.section-wrapper {
		padding-bottom: 50px;
		@include media('>=tablet') {
			padding-bottom: 75px;
		}
	}
	.section-wrapper:before {
		.content-api-page & {
			@include media('>=tablet') {
				transform: skewY(8.5deg);
			}
		}
	}
	.section-wrapper:after {
		.content-api-page & {
			@include media('>=tablet') {
				transform: skewY(-8.5deg);
			}
		}
	}
	.holder {
		min-height: 175px;
		@include media('>=tablet') {
			min-height: 171px;
		}
	}
	.title {
		margin-bottom: 0.3125rem;
		@include media('<tablet') {
			line-height: 36px;
		}
	}
	.subtitle {
		font: 300 .875rem $lato--family-sans-serif;
		@include media('>=tablet') {
			font-size: 1.5rem;
		}
		p {
			&:only-child, &:last-of-type {
				margin-bottom: 0;
			}
		}
	}
	.content-contact &,
	.content-careers &,
	.content-about & {
		&:before , &:after {
			width: 1070px;
			height: 231px;
			@include media('<tablet') {
				content: none;
			}
		}
		&:before {
			top: 29%;
			width: 561px;
			height: 160px;
			left: calc(50vw - 1013px);
		}
		&:after {
			top: 19%;
			right: calc(50vw - 1499px);
		}
		.title {
			@include media('>=tablet') {
				font-size: 2.875rem;
			}
		}
	}
	.content-api-features & {
		&:before , &:after {
			width: 586px;
			height: 167px;
			@include media('>=tablet') {
				width: 866px;
				height: 247px;
			}
		}
		&:before {
			top: 15%;
			left: calc(50vw - 651px);
			@include media('<tablet') {
				transform: rotate(-5deg);
			}
			@include media('>=tablet') {
				top: 15%;
				width: 1140px;
				height: 325px;
				left: calc(50vw - 1537px);
			}
		}
		&:after {
			top: 24%;
			right: calc(50vw - 513px);
			@include media('>=tablet') {
				top: 28%;
				right: calc(50vw - 1192px);
			}
		}
		.container {
			@include media('<tablet') {
				position: relative;
			}
			&:before , &:after {
				@include media('<tablet') {
					z-index: -1;
					content: '';
					width: 435px;
					height: 124px;
					position: absolute;
					transform: rotate(3deg);
					background: url('../images/section-small-decoration-2x.png') no-repeat;
					background-size: contain !important;
				}
			}
			&:before {
				@include media('<tablet') {
					bottom: 46%;
					left: calc(50vw - 404px);
				}
			}
			&:after {
				@include media('<tablet') {
					bottom: 23%;
					right: calc(50vw - 397px);
				}
			}
		}
		.section-title {
			padding: 51px 0 56px;
			@include media('>=tablet') {
				padding: 27px 0 53px;
			}
		}
	}
	.content-api-page & {
		font-weight: 300;
		.box-holder {
			padding: 79px 0 90px;
			@include media('<tablet') {
				text-align: center;
			}
			@include media('>=tablet') {
				padding: 78px 0 160px;
			}
			&:before, &:after {
				content: '';
				width: 586px;
				height: 167px;
				position: absolute;
				background: url('../images/section-small-decoration-2x.png') no-repeat;
				background-size: contain !important;
				@include media('>=tablet') {
					width: 1140px;
					height: 325px;
					background: url('../images/section-large-decoration-2x.png') no-repeat;
				}
			}
			&:before {
				top: 3%;
				left: 51%;
			}
			&:after {
				left: 78%;
				bottom: 1%;
				width: 817px;
				height: 233px;
				transform: rotate(-5deg);
			}
		}
		.title {
			@include media('<tablet') {
				font-size: 27px;
			}
			@include media('>=tablet') {
				line-height: 60px;
			}
		}
		.text-holder {
			@include media('>=tablet') {
				line-height: 32px;
			}
		}
	}
	.btn-check {
		.btn-group {
			margin-bottom: 7px;
			.btn {
				font-size: 17px;
				font-weight: 300;
				border-width: 2px;
				min-width: 127px;
				&:active, &.active {
					background: theme-color("light");
				}
				&:not(.active) {
					color: $white;
					background: none;
				}
			}
		}
		.subtitle {
			font-size: 12px;
			font-weight: 300;
		}
	}
}

.top-holder {
	margin-bottom: 138px;
	@include media('>=tablet') {
		margin-bottom: 154px;
	}
	.section-title {
		margin-bottom: 15px;
		@include media('>=tablet') {
			margin-bottom: 19px;
		}
	}
	.title {
		@include media('>=tablet') {
			font-size: 46px;
		}
	}
	.text-holder {
		margin-bottom: 38px;
		@include media('>=tablet') {
			margin-bottom: 59px;
		}
	}
	p {
		&:only-child, &:last-of-type {
			margin-bottom: 0;
		}
	}
	.img-box {
		padding: 8px 0 0 15px;
	}
	.btn-holder {
		.btn {
			font-size: 13px;
			min-width: 148px;
			padding-top: 9px;
			padding-bottom: 7px;
			@include media('>=tablet') {
				min-width: 177px;
				font-size: 17px;
				padding-top: 14px;
				padding-bottom: 12px;
			}
			&:first-of-type {
				box-shadow: 1px 5px 25px rgba($black, .26);
			}
			&:not(:last-of-type) {
				margin-bottom: 20px;
				@include media('>=tablet') {
					margin-right: 28px;
				}
			}
		}
	}
}

.page-header-info {
	&:before, &:after {
		content: '';
		width: 586px;
		height: 167px;
		position: absolute;
		transform: rotate(5deg) rotateY(180deg);
		background: url('../images/section-small-decoration-2x.png') no-repeat;
		background-size: contain !important;
		@include media('>=tablet') {
			width: 1000px;
			height: 285px;
			background: url('../images/section-large-decoration-2x.png') no-repeat;
		}
	}
	&:before {
		top: -25%;
		left: -38%;
	}
	&:after {
		top: -49%;
		left: 87%;
	}
	> div:not(.img-box) {
		@include media('>=tablet') {
			max-width: 45.2%;
		}
	}
	.img-box {
		position: relative;
		@include media('<tablet') {
			left: -47px;
			margin-bottom: 32px;
		}
		@include media('<phone') {
			left: -80px;
		}
		@include media('>=tablet') {
			top: 10px;
			right: 54%;
			position: absolute;
		}
	}
	.title {
		margin-bottom: 35px;
		@include media('>=tablet') {
			margin-bottom: 20px;
			font-size: $h1-font-size;
		}
	}
	.list-holder {
		padding-top: 8px;
		margin-bottom: 28px;
		@include media('<tablet') {
			text-align: left;
			padding-left: 16px;
		}
		@include media('>=tablet') {
			columns: 2;
		}
		li {
			margin-bottom: 4px;
			@include media('>=tablet') {
				margin-bottom: 1px;
			}
		}
		[class^='icon-'] {
			color: #FDF387;
			margin-right: 6px;
			@include media('<tablet') {
				font-size: 8px;
				margin-right: 17px;
			}
		}
	}
}

.section-nav-box {
	color: #686868;
	padding: 15px 0 40px;
	font: 300 1.25rem $roboto-family-sans-serif;
	@include media('>=tablet') {
		font-size: 1.875rem;
		padding: 62px 0 67px;
	}
	.nav-holder {
		@include media('>=desktop') {
			padding: 0 4.125rem;
		}
		&:after {
			left: 50%;
			bottom: 0;
			content: '';
			height: 1px;
			width: 100vw;
			position: absolute;
			background: #d2cece;
			transform: translate(-50%, 0);
		}
	}
	li {
		padding-bottom: .8125rem;
		@include media('>=desktop') {
			padding-bottom: 1rem;
		}
	}
	.nav-link {
		color: inherit;
		@include media('<tablet') {
			padding: {
				left: .3125rem;
				right: .3125rem;
			};
		}
		@include media('<375px') {
			padding: {
				left: 5px;
				right: 5px;
			};
		}
		&.active {
			&:before, &:after {
				left: 50%;
				bottom: 0;
				content: '';
				position: absolute;
				transform: translate(-50%, 0);
			}
			&:before {
				border: {
					style: solid;
					width: 0 10px 10px;
					color: transparent transparent #087FCD;
				};
				@include media('>=tablet') {
					border-width: 0 16px 16px;
				}
			}
			&:after {
				width: 100%;
				height: 6px;
				background: #087FCD;
				@include media('>=tablet') {
					height: 8px;
					width: 182px;
				}
			}
		}
		&:hover {
			color: #01a0d5;
		}
	}
}

.section-preview {
	.row {
		flex-grow: 1;
	}
	.preview-box-info {
		flex-grow: 1;
		> div {
			background: rgba($white, .94);
			border: 1px solid rgba(#979797, 1);
		}
	}
	.preview-box-title {
		margin-bottom: 0;
		@include media('>=tablet') {
			font-size: 39px;
		}
	}
	.text-holder {
		font-weight: 300;
		@include media('>=tablet') {
			line-height: 31px;
		}
		p {
			&:only-child, &:last-of-type {
				margin-bottom: 0;
			}
		}
	}
	.content-about & {
		min-height: 487px;
		@include media('<tablet') {
			margin-top: 19px;
			min-height: 296px;
		}
		.bg-stretch {
			@include media('<tablet') {
				background-position: 35% 0;
			}
		}
		.preview-box-info {
			padding: 20px 0 10px;
			@include media('>=tablet') {
				padding: 10px;
			}
			> div {
				padding: 10px;
				@include media('<tablet') {
					width: 68%;
					margin: 0 auto;
					display: flex;
					min-height: 98px;
					align-items: center;
					justify-content: center;
				}
				@include media('>=tablet') {
					padding: 22px 20px 35px;
				}
				@include media('>=widescreen') {
					padding: 58px 58px 79px;
				}
			}
		}
		.preview-box-title {
			@include media('<tablet') {
				font-size: 27px;
			}
			@include media('>=tablet') {
				margin-bottom: 22px;
			}
		}
	}
	.content-careers & {
		min-height: 415px;
		margin-top: 38px;
		@include media('>=tablet') {
			min-height: $careers-section-preview-height;
			margin-top: 10px;
		}
		.bg-stretch {
			@include media('<tablet') {
				background-position: 31% 0;
			}
		}
		.preview-box-info {
			> div {
				width: 91%;
				margin: 0 auto;
				padding: 43px 20px 39px;
				@include media('>=tablet') {
					width: 83.4%;
					padding: 52px 85px 47px;
				}
			}
		}
		.preview-box-title {
			color: #5f5f5f;
			@include media('<tablet') {
				line-height: 34px;
			}
			@include media('>=tablet') {
				margin-bottom: 19px;
			}
		}
	}
}

.section-services {
	z-index: 1;
	background: #E7F6FB;
	padding: 52px 0 31px;
	@include media('>=tablet') {
		padding: 100px 0 96px;
	}
	&:before, &:after {
		top: 0;
		width: 51%;
		content: '';
		z-index: -1;
		height: 50vh;
		height: 150px;
		position: absolute;
		background: inherit;
	}
	&:before {
		transform-origin: 100% 0;
		transform: skewY(13deg);
		@include media('>=tablet') {
			transform: skewY(6.5deg);
		}
		.content-api-page & {
			@include media('>=tablet') {
				transform: skewY(8.5deg);
			}
		}
	}
	&:after {
		right: 0;
		transform-origin: 0 100%;
		transform: skewY(-13deg);
		@include media('>=tablet') {
			transform: skewY(-6.5deg);
		}
		.content-api-page & {
			@include media('>=tablet') {
				transform: skewY(-8.5deg);
			}
		}
	}
	.holder {
		&:before, &:after {
			top: -133%;
			content: '';
			width: 586px;
			height: 167px;
			position: absolute;
			transform: rotate(-5deg);
			background: url('../images/section-small-decoration-2x.png') no-repeat;
			background-size: contain !important;
			@include media('>=tablet') {
				width: 1000px;
				height: 285px;
				background: url('../images/section-large-decoration-2x.png') no-repeat;
			}
		}
		&:before {
			left: -54%;
		}
		&:after {
			right: -46%;
		}
	}
	.container {
		z-index: 10;
		&:before {
			top: -41%;
			left: 56%;
			content: '';
			width: 586px;
			height: 167px;
			transform: rotate(-5deg);
			position: absolute;
			background: url('../images/section-small-decoration-2x.png') no-repeat;
			background-size: contain !important;
			@include media('>=tablet') {
				width: 1140px;
				height: 325px;
				background: url('../images/section-large-decoration-2x.png') no-repeat;
			}
		}
	}
	.section-title {
		margin-bottom: 19px;
		@include media('>=tablet') {
			margin-bottom: 43px;
		}
		.title {
			font-weight: 100;
			@include media('<tablet') {
				font-size: 19px;
			}
		}
	}
}

.section-description {
	padding: 55px 0 87px;
	@include media('>=tablet') {
		padding: 182px 0 148px;
	}
	.content-about & {
		padding: 55px 0 106px;
		@include media('>=tablet') {
			padding: 115px 0 167px;
		}
	}
}

.section-actions {
	overflow: hidden;
	padding-bottom: 50px;
	@include media('>=tablet') {
		padding-bottom: 61px;
	}
	.card {
		border: none;
		border-radius: 0;
		background: rgba(#f5eeee, .49);
		@include media('>=tablet') {
			padding: 21px 31px;
		}
		&:before, &:after {
			top: 0;
			bottom: 0;
			z-index: -1;
			width: 100%;
			position: absolute;
			background: inherit;
			@include media('<tablet') {
				content: '';
			}
		}
		&:before {
			right: 100%;
		}
		&:after {
			left: 100%;
		}
		> div {
			z-index: 0;
		}
		.card-body {
			padding: 0;
			background: none;
			@include media('<tablet') {
				min-height: 190px;
			}
			&:before {
				top: 0;
				left: 50%;
				width: 733px;
				height: 210px;
				position: absolute;
				transform: translate(-50%, 0) rotate(-5deg);
				background: url('../images/section-actions-decoration-2x.png') no-repeat;
				background-size: contain;
				@include media('<tablet') {
					content: '';
				}
			}
		}
		.card-title {
			margin-bottom: 28px;
			@include media('<tablet') {
				color: theme-color("primary");
			}
			@include media('>=tablet') {
				font-size: 34px;
				margin-bottom: 10px;
			}
		}
	}
	.text-holder {
		font-weight: 300;
		@include media('>=tablet') {
			max-width: 440px;
			line-height: 28px;
		}
	}
	.btn-holder {
		.btn {
			min-width: 169px;
			@include media('>=tablet') {
				font-size: 17px;
				min-width: 249px;
				padding-top: 17px;
				padding-bottom: 17px;
			}
		}
	}
}

// Fixes for IE 10

.ie10 {
	body #wrapper {
		#header {
			.navbar-expand-md {
				.navbar-collapse {
					max-width: 50%;
				}
				.sign-up-box {
					margin-left: auto;
				}
			}
		}
		#main {
			.section-preview {
				.container{
					min-height: $careers-section-preview-height !important;
					.row {
						min-height: 100% !important;
						padding: 5% 0;
						.d-flex {
							padding: 10% 0;
							display: block !important;
						}
					}
				}
			}
		}
	}
}

.ie11 {
	body #wrapper {
		#header {
			.navbar-expand-md {
				// TODO: fix the overlapping nav items
			}
		}
		#main {
			.section-description {
				// TODO: fix the overflow images 
			}
			.section-preview {
				// TODO: fix vertical align
			}
		}
	}
}