#footer {
	color: $white;
	font-weight: 300;
	font-size: .9375rem;
	padding: 70px 0 0;
	background: linear-gradient(to right, rgba(#282828, 1) 0%, rgba(#595959, 1) 100%);
	@include media('>=widescreen') {
		padding: 105px 0 0;
	}
	a {
		color: inherit;
		&:hover {
			color: $dark-cyan;
		}
	}
}

.footer-top {
	padding: 0 0 131px;
	@include media('>=375px', '<tablet') {
		padding: {
			left: 25px;
			right: 20px;
		};
	}
	@include media('>=tablet') {
		padding: 0 0 80px;
	}
	@include media('>=widescreen') {
		padding: {
			left: 53px;
			right: 53px;
		};
	}
	.add-nav-box {
		@include media('<tablet') {
			margin-bottom: 40px;
		}
		@include media('>=widescreen') {
			padding-left: 14px;
		}
	}
	.nav-holder {
		@include media('<tablet') {
			margin: 0 10px 22px 0;
		}
		&:not(:last-of-type) {
			@include media('>=tablet') {
				margin-right: 30px;
			}
			@include media('>=widescreen') {
				margin-right: 40px;
			}
		}
		li {
			&:not(:last-of-type) {
				margin-bottom: 6px;
			}
		}
	}
	.title {
		font-weight: 500;
		margin-bottom: 20px;
	}
	.news-holder {
		.title {
			margin-bottom: 15px;
		}
		.text-holder {
			margin-bottom: 12px;
			@include media('>=tablet') {
				margin-bottom: 13px;
			}
			p {
				&:only-child, &:last-of-type {
					margin-bottom: 0;
				}
			}
		}
		form {
			@include media('<tablet') {
				flex-wrap: nowrap;
			}
			input {
				flex-grow: 1;
				color: $white;
				font-weight: 300;
				max-width: 180px;
				background: #5c5c5c;
				margin-right: 12px;
				padding: .4375rem .5rem .375rem;
				@include media('>=tablet') {
					max-width: 187px;
					margin-right: 14px;
				}
				@include placeholder {
					color: #a7a6a6;
				}
				&:focus {
					border-color: $dark-cyan;
				}
			}
			input, .btn {
				font-weight: 300;
				font-size: .8125rem;
				border-radius: .1875rem;
			}
			.btn {
				padding: .4375rem .75rem .375rem;
			}
		}
	}
}

.footer-bottom {
	padding: 19px 0;
	background: #2e2e2e;
	font-size: .8125rem;
	.footer-bottom-holder {
		@include media('<tablet') {
			padding: 0 20px;
		}
		@include media('>=widescreen') {
			padding: 0 10px 0 8px;
		}
	}
	.logo {
		margin-right: 10px;
		.navbar-brand {
			width: 29px;
		}
		img {
			width: 100%;
			height: auto;
		}
	}
	.link-holder {
		color: #a9a5a5;
		margin-left: 15px;
		@include media('>=widescreen') {
			margin-left: 28px;
		}
		li {
			&:not(:last-of-type) {
				margin-right: 15px;
				@include media('>=widescreen') {
					margin-right: 27px;
				}
			}
		}
	}
	.social-network {
		color: #cbcbcb;
		font-size: 18px;
		li {
			&:not(:last-of-type) {
				margin-right: 10px;
				@include media('>=widescreen') {
					margin-right: 18px;
				}
			}
		}
	}
}