---
title: About us
---
<main id="main" class="content-about">
  <div class="section-page-header position-relative">
    <div class="section-wrapper position-relative">
      <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="holder d-flex align-items-center justify-content-center">
            <header class="section-title text-center text-light">
              <h2 class="title">Empowering restaurants globally</h2>
              <div class="subtitle">
                <p>Building the next generation of Foodtech</p>
              </div>
            </header>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <%= partial "partials/about_us_links", :locals => {:selected => 'about'} %>
  <div class="section-preview position-relative d-flex">
    <div class="bg-stretch position-absolute h-100 w-100">
      <img class="img-as-bg" srcset="images/preview-box-bg-large.jpg, images/preview-box-bg-large-2x.jpg 2x">
    </div>
    <div class="container d-flex">
      <div class="row">
        <div class="col-12 col-md-7 col-lg-6 d-flex align-items-center">
          <div class="preview-box-info">
            <div class="text-center text-md-left">
              <h2 class="preview-box-title text-primary">Built in Bangkok</h2>
              <div class="text-holder hidden-md-down">
                <p>Foodkit’s head office is based in Bangkok, one of the most thriving metropolitan cities in SEA, boasting a diverse range of international food and unique cultural experiences. Daily life in this vibrant city is both comfortable and affordable, and, when you feel like a change of scenery there are plenty of exotic holiday destinations only a short flight away.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-description">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!--div class="text-info-description d-flex justify-content-center text-center hidden-md-up">
            <p>We started our journey as a restaurant marketplace but soon realised that restaurants needed more than just food delivery services. We realised that digital was changing the way consumers interact with brands and that any businesss needs to be delighting their customers online.</p>
          </div-->
          <ul class="list-description list-unstyled d-flex flex-wrap flex-column">
            <li class="media flex-column flex-md-row justify-content-md-between align-items-center w-100">
              <div class="img-holder d-flex mb-sm-3 mb-md-0 position-relative order-1 order-md-1">
                <div class="static-img position-relative">
                  <div class="rounded-circle">
                    <picture>
                      <source srcset="images/description-img5-small.jpg, images/description-img5-small-2x.jpg 2x" media="(max-width: 767px)">
                      <source srcset="images/description-img5-large.jpg, images/description-img5-large-2x.jpg 2x">
                      <img src="images/description-img5-small.jpg" alt="image description">
                    </picture>
                  </div>
                </div>
                <div class="small-img rounded-circle position-absolute">
                  <picture>
                    <source srcset="images/description-img6-small.jpg, images/description-img6-small-2x.jpg 2x" media="(max-width: 767px)">
                    <source srcset="images/description-img6-large.jpg, images/description-img6-large-2x.jpg 2x">
                    <img src="images/description-img6-small.jpg" alt="image description">
                  </picture>
                </div>
              </div>
              <div class="media-body text-center text-md-left order-md-1">
                <h2 class="title text-primary">Foodkit culture</h2>
                <p>As a member of the Foodkit you will be a part of crafting what is shaping up to be the next generation of food technology. Our culture attracts dynamic industry professionals who thrive in a collaborative environment. We offer the opportunity to work with a dedicated team, game changing technology and some of the world’s most admired brands.</p>
              </div>
            </li>
            <li class="media flex-column flex-md-row justify-content-md-between align-items-center w-100">
              <div class="img-holder d-flex mb-sm-3 mb-md-0 position-relative order-1 order-md-10">
                <picture>
                  <source srcset="images/description-img7-small.jpg, images/description-img7-small-2x.jpg 2x" media="(max-width: 767px)">
                  <source srcset="images/description-img7-large.jpg, images/description-img7-large-2x.jpg 2x">
                  <img src="images/description-img7-small.jpg" alt="image description">
                </picture>
              </div>
              <div class="media-body text-center text-md-left">
                <h2 class="title text-primary">Our mission</h2>
                <p>We believe in making technology accessible, so any F&amp;B brand can leverage the power of online services without the hassle or expense of building and maintaining the technology themselves. One platform, better technology, no hassle.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
