---
title: Restaurant Food Ordering API
---
<main id="main" class="content-api-page">
  <div class="section-page-header position-relative text-light">
    <div class="section-wrapper position-relative">
      <div class="box-holder position-relative">
        <div class="container">
          <div class="row top-holder">
            <div class="col-12 col-md-5">
              <div class="section-title">
                <h2 class="title">A complete API suite for restaurants</h2>
              </div>
              <div class="text-holder">
                <p>Foodkit’s full featured RESTful API lets you code in the language of your choice. With Foodkit API you get the flexibility you need to deliver the results you want.<br><br>
Build faster, maintain easier &amp; scale stress-free.</p>
              </div>
              <div class="btn-holder d-flex flex-column flex-md-row align-items-center align-items-md-start">
                <a class="btn btn-warning btn-lg badge-pill text-uppercase btn-cta" href="#!" role="button">GET STARTED</a>
                <a class="btn btn-light btn-lg badge-pill text-uppercase" href="<%= data.site.site.api_docs %>" role="button" target="_blank">VIEW GUIDES</a>
              </div>
            </div>
            <div class="col-12 col-md-7 hidden-md-down">
              <div class="img-box">
                <picture>
                  <source srcset="images/api-img-large.png, images/api-img-large-2x.png 2x">
                  <img src="images/api-img-large.png" alt="image description">
                </picture>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="page-header-info position-relative">
                <div class="ml-md-auto">
                  <h2 class="title">Build exactly what you want, how you want.</h2>
                </div>
                <div class="img-box">
                  <picture>
                    <source srcset="images/api-example-small.png, images/api-example-small-2x.png 2x" media="(max-width: 767px)">
                    <source srcset="images/api-example-large.png, images/api-example-large-2x.png 2x">
                    <img src="images/api-example-small.png" alt="image description">
                  </picture>
                </div>
                <div class="text-holder ml-md-auto">
                  <p class="hidden-md-down">Foodkit’s industry-leading platform gives you the power and flexibility to build world class restaurant services for your business or customer, including:</p>
                  <ul class="list-holder list-unstyled custom-list">
                    <li class="d-flex d-md-inline-flex align-items-baseline"><i class="icon-check"></i>Ecommerce apps & web</li>
                    <li class="d-flex d-md-inline-flex align-items-baseline"><i class="icon-check"></i>Instore kiosks</li>
                    <li class="d-flex d-md-inline-flex align-items-baseline"><i class="icon-check"></i>Loyalty programs</li>
                    <li class="d-flex d-md-inline-flex align-items-baseline"><i class="icon-check"></i>Customer Service interface</li>
                    <li class="d-flex d-md-inline-flex align-items-baseline"><i class="icon-check"></i>Chatbot ordering</li>
                    <li class="d-flex d-md-inline-flex align-items-baseline"><i class="icon-check"></i>Driver Apps (logistics)</li>
                    <li class="d-flex d-md-inline-flex align-items-baseline"><i class="icon-check"></i>Instore order management apps</li>
                  </ul>
                  <p class="hidden-md-down">The possibilities are endless.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-api">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="section-api-decoration text-center">
                <picture>
                  <source srcset="images/api-decoration-small.png, images/api-decoration-small-2x.png 2x" media="(max-width: 767px)">
                  <source srcset="images/api-decoration-large.png, images/api-decoration-large-2x.png 2x">
                  <img src="images/api-decoration-small.png" alt="image description">
                </picture>
              </div>
              <header class="section-title text-center">
                <h2 class="title">A complete API for restaurants</h2>
              </header>
            </div>
            <div class="col-12 d-flex justify-content-center">
              <ul class="api-list list-unstyled d-flex flex-wrap justify-content-between">
                <li class="d-inline-flex position-relative">
                  <div class="img-holder position-absolute position-relative">
                    <picture>
                      <source srcset="images/products-img-large.png, images/products-img-large-2x.png 2x">
                      <img src="images/products-img-large.png" alt="image description">
                    </picture>
                  </div>
                  <div class="text-holder">Products</div>
                </li>
                <li class="d-inline-flex position-relative">
                  <div class="img-holder position-absolute">
                    <picture>
                      <source srcset="images/addresses-img-large.png, images/addresses-img-large-2x.png 2x">
                      <img src="images/addresses-img-large.png" alt="image description">
                    </picture>
                  </div>
                  <div class="text-holder">Addresses</div>
                </li>
                <li class="d-inline-flex position-relative">
                  <div class="img-holder position-absolute">
                    <picture>
                      <source srcset="images/statistics-img-large.png, images/statistics-img-large-2x.png 2x">
                      <img src="images/statistics-img-large.png" alt="image description">
                    </picture>
                  </div>
                  <div class="text-holder">Statistics</div>
                </li>
                <li class="d-inline-flex position-relative">
                  <div class="img-holder position-absolute">
                    <picture>
                      <source srcset="images/webhooks-img-large.png, images/webhooks-img-large-2x.png 2x">
                      <img src="images/webhooks-img-large.png" alt="image description">
                    </picture>
                  </div>
                  <div class="text-holder">Webhooks</div>
                </li>
                <li class="d-inline-flex position-relative">
                  <div class="img-holder position-absolute">
                    <picture>
                      <source srcset="images/orders-img-large.png, images/orders-img-large-2x.png 2x">
                      <img src="images/orders-img-large.png" alt="image description">
                    </picture>
                  </div>
                  <div class="text-holder">Orders</div>
                </li>
                <li class="d-inline-flex position-relative">
                  <div class="img-holder position-absolute">
                    <picture>
                      <source srcset="images/deliveries-img-large.png, images/deliveries-img-large-2x.png 2x">
                      <img src="images/deliveries-img-large.png" alt="image description">
                    </picture>
                  </div>
                  <div class="text-holder">Deliveries</div>
                </li>
                <li class="d-inline-flex position-relative">
                  <div class="img-holder position-absolute">
                    <picture>
                      <source srcset="images/promotions-img-large.png, images/promotions-img-large-2x.png 2x">
                      <img src="images/promotions-img-large.png" alt="image description">
                    </picture>
                  </div>
                  <div class="text-holder">Promotions</div>
                </li>
                <li class="d-inline-flex position-relative">
                  <div class="img-holder position-absolute">
                    <picture>
                      <source srcset="images/websites-img-large.png, images/websites-img-large-2x.png 2x">
                      <img src="images/websites-img-large.png" alt="image description">
                    </picture>
                  </div>
                  <div class="text-holder">Websites</div>
                </li>
                <li class="d-inline-flex position-relative">
                  <div class="img-holder position-absolute">
                    <picture>
                      <source srcset="images/payments-img2-large.png, images/payments-img2-large-2x.png 2x">
                      <img src="images/payments-img2-large.png" alt="image description">
                    </picture>
                  </div>
                  <div class="text-holder">Payments</div>
                </li>
                <li class="d-inline-flex position-relative">
                  <div class="img-holder position-absolute">
                    <picture>
                      <source srcset="images/delivery-zones-img-large.png, images/delivery-zones-img-large-2x.png 2x">
                      <img src="images/delivery-zones-img-large.png" alt="image description">
                    </picture>
                  </div>
                  <div class="text-holder">Delivery zones</div>
                </li>
                <li class="d-inline-flex position-relative">
                  <div class="img-holder position-absolute">
                    <picture>
                      <source srcset="images/coupons-img-large.png, images/coupons-img-large-2x.png 2x">
                      <img src="images/coupons-img-large.png" alt="image description">
                    </picture>
                  </div>
                  <div class="text-holder">Coupons</div>
                </li>
                <li class="d-inline-flex position-relative">
                  <div class="img-holder position-absolute">
                    <picture>
                      <source srcset="images/notifications-img-large.png, images/notifications-img-large-2x.png 2x">
                      <img src="images/notifications-img-large.png" alt="image description">
                    </picture>
                  </div>
                  <div class="text-holder">Notifications</div>
                </li>
                <li class="d-inline-flex position-relative">
                  <div class="img-holder position-absolute">
                    <picture>
                      <source srcset="images/customers-img-large.png, images/customers-img-large-2x.png 2x">
                      <img src="images/customers-img-large.png" alt="image description">
                    </picture>
                  </div>
                  <div class="text-holder">Customers</div>
                </li>
                <li class="d-inline-flex position-relative">
                  <div class="img-holder position-absolute">
                    <picture>
                      <source srcset="images/stores-img-large.png, images/stores-img-large-2x.png 2x">
                      <img src="images/stores-img-large.png" alt="image description">
                    </picture>
                  </div>
                  <div class="text-holder">Stores</div>
                </li>
                <li class="d-inline-flex position-relative">
                  <div class="img-holder position-absolute">
                    <picture>
                      <source srcset="images/shopping-carts-img-large.png, images/shopping-carts-img-large-2x.png 2x">
                      <img src="images/shopping-carts-img-large.png" alt="image description">
                    </picture>
                  </div>
                  <div class="text-holder"><span class="hidden-md-down">Shopping </span>carts</div>
                </li>
                <li class="d-inline-flex position-relative">
                  <div class="img-holder position-absolute">
                    <picture>
                      <source srcset="images/checkout-img-large.png, images/checkout-img-large-2x.png 2x">
                      <img src="images/checkout-img-large.png" alt="image description">
                    </picture>
                  </div>
                  <div class="text-holder">Checkout</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-services position-relative">
    <div class="holder position-relative">
      <div class="container position-relative">
        <div class="row">
          <div class="col-12">
            <header class="section-title text-center">
              <h2 class="title">Trusted and loved by the best</h2>
            </header>
          </div>
          <div class="col-12">
            <ul class="list-unstyled d-flex justify-content-around align-items-center">
              <li>
                <a href="#">
                  <picture>
                    <source srcset="images/dq-img-small.png, images/dq-img-small-2x.png 2x" media="(max-width: 767px)">
                    <source srcset="images/dq-img-large.png, images/dq-img-large-2x.png 2x">
                    <img src="images/dq-img-small.png" alt="DQ">
                  </picture>
                </a>
              </li>
              <li>
                <a href="#">
                  <picture>
                    <source srcset="images/the-coffee-club-img-small.png, images/the-coffee-club-img-small-2x.png 2x" media="(max-width: 767px)">
                    <source srcset="images/the-coffee-club-img-large.png, images/the-coffee-club-img-large-2x.png 2x">
                    <img src="images/the-coffee-club-img-small.png" alt="the coffee club">
                  </picture>
                </a>
              </li>
              <li>
                <a href="#">
                  <picture>
                    <source srcset="images/bonchon-img-small.png, images/bonchon-img-small-2x.png 2x" media="(max-width: 767px)">
                    <source srcset="images/bonchon-img-large.png, images/bonchon-img-large-2x.png 2x">
                    <img src="images/bonchon-img-small.png" alt="bonchon-img">
                  </picture>
                </a>
              </li>
              <li>
                <a href="#">
                  <picture>
                    <source srcset="images/audrey-img-small.png, images/audrey-img-small-2x.png 2x" media="(max-width: 767px)">
                    <source srcset="images/audrey-img-large.png, images/audrey-img-large-2x.png 2x">
                    <img src="images/audrey-img-small.png" alt="image description">
                  </picture>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-api-advantages">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <ul class="list-holder list-unstyled d-flex flex-wrap flex-column flex-md-row justify-content-between align-items-center align-items-md-start">
            <li class="ordee-md-1">
              <div class="media flex-column flex-md-row">
                <div class="img-holder text-center">
                  <picture>
                    <source srcset="images/powerful-api-img-small.png, images/powerful-api-img-small-2x.png 2x" media="(max-width: 767px)">
                    <source srcset="images/powerful-api-img-large.png, images/powerful-api-img-large-2x.png 2x">
                    <img src="images/powerful-api-img-small.png" alt="image description">
                  </picture>
                </div>
                <div class="media-body text-center text-md-left">
                  <h5 class="media-title text-primary">Powerful API Suite</h5>
                  <p>Foodkit’s RESTful JSON API enables digital ordering, marketing and deliveries across a single or multiple locations.</p>
                </div>
              </div>
            </li>
            <li class="order-md-3">
              <div class="media flex-column flex-md-row">
                <div class="img-holder text-center">
                  <picture>
                    <source srcset="images/built-img-small.png, images/built-img-small-2x.png 2x" media="(max-width: 767px)">
                    <source srcset="images/built-img-large.png, images/built-img-large-2x.png 2x">
                    <img src="images/built-img-small.png" alt="image description">
                  </picture>
                </div>
                <div class="media-body text-center text-md-left">
                  <h5 class="media-title text-primary">Built for scale</h5>
                  <p>Whether you’re building for a single location restaurant  or multinational chain, Foodkit has the flexibility and performance you need to keep growing.</p>
                </div>
              </div>
            </li>
            <li class="order-md-5">
              <div class="media flex-column flex-md-row">
                <div class="img-holder text-center">
                  <picture>
                    <source srcset="images/innovation-img-small.png, images/innovation-img-small-2x.png 2x" media="(max-width: 767px)">
                    <source srcset="images/innovation-img-large.png, images/innovation-img-large-2x.png 2x">
                    <img src="images/innovation-img-small.png" alt="image description">
                  </picture>
                </div>
                <div class="media-body text-center text-md-left">
                  <h5 class="media-title text-primary">Innovation on auto pilot</h5>
                  <p>Foodkit is continually innovating and adding new features and platform updates, so you always have access to the most current advances.</p>
                </div>
              </div>
            </li>
            <li class="order-md-2">
              <div class="media flex-column flex-md-row">
                <div class="img-holder text-center">
                  <picture>
                    <source srcset="images/platform-img-small.png, images/platform-img-small-2x.png 2x" media="(max-width: 767px)">
                    <source srcset="images/platform-img-large.png, images/platform-img-large-2x.png 2x">
                    <img src="images/platform-img-small.png" alt="image description">
                  </picture>
                </div>
                <div class="media-body text-center text-md-left">
                  <h5 class="media-title text-primary">Platform Independent</h5>
                  <p>Use any language, and any technology stack. The Foodkit API is completely open so you can use your existing skills and knowledge to build something incredible.</p>
                </div>
              </div>
            </li>
            <li class="order-md-4">
              <div class="media flex-column flex-md-row">
                <div class="img-holder text-center">
                  <picture>
                    <source srcset="images/lightning-img-small.png, images/lightning-img-small-2x.png 2x" media="(max-width: 767px)">
                    <source srcset="images/lightning-img-large.png, images/lightning-img-large-2x.png 2x">
                    <img src="images/lightning-img-small.png" alt="image description">
                  </picture>
                </div>
                <div class="media-body text-center text-md-left">
                  <h5 class="media-title text-primary">Lightning fast</h5>
                  <p>Our worldwide CDN and redundant architecture means your assets and API requests are serviced quickly and reliably, everytime.</p>
                </div>
              </div>
            </li>
            <li class="order-md-6 d-flex">
              <div class="media flex-column flex-md-row">
                <div class="img-holder text-center">
                  <picture>
                    <source srcset="images/plug-img-small.png, images/plug-img-small-2x.png 2x" media="(max-width: 767px)">
                    <source srcset="images/plug-img-large.png, images/plug-img-large-2x.png 2x">
                    <img src="images/plug-img-small.png" alt="image description">
                  </picture>
                </div>
                <div class="media-body text-center text-md-left">
                  <h5 class="media-title text-primary">Plug and play</h5>
                  <p>Foodkit is built to integrate into your existing systems, processes and workflows.</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="section-join text-light">
    <div class="container">
      <div class="holder position-relative">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-5 text-center">
            <div class="img-holder d-inline-flex position-relative">
              <div class="static-img">
                <div class="rounded-circle">
                  <picture>
                    <source srcset="images/description-img9-small.jpg, images/description-img9-small-2x.jpg 2x" media="(max-width: 767px)">
                    <source srcset="images/description-img9-large.jpg, images/description-img9-large-2x.jpg 2x">
                    <img src="images/description-img9-small.jpg" alt="image description">
                  </picture>
                </div>
              </div>
              <div class="small-img rounded-circle position-absolute">
                <picture>
                  <source srcset="images/description-img8-small.jpg, images/description-img8-small-2x.jpg 2x" media="(max-width: 767px)">
                  <source srcset="images/description-img8-large.jpg, images/description-img8-large-2x.jpg 2x">
                  <img src="images/description-img8-small.jpg" alt="image description">
                </picture>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-5 col-lg-6 ml-md-auto">
            <div class="text-box">
              <h2 class="title">Work with Foodkit</h2>
              <div class="text-holder">
                <p>As a member of the Foodkit team you will be building amazing products and helping craft what is shaping up to be the next generation of food tech. See our list of available positions.</p>
              </div>
              <div class="btn-holder">
                <a class="btn btn-light btn-lg badge-pill text-uppercase" href="<%= url_for "/about-careers.html" %>" role="button">SEE JOBS</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-control">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <header class="section-title text-center">
            <h2 class="title text-primary">Admin control</h2>
            <div class="subtitle">
              <p>Easily access a world of insights into your digital business, manage orders and and control your ecosystem of technology.</p>
            </div>
          </header>
        </div>
        <div class="col-12">
          <div class="img-box d-flex justify-content-center">
            <div class="img-holder position-relative">
              <picture>
                <source srcset="images/control-img-small.png, images/control-img-small-2x.png 2x" media="(max-width: 767px)">
                <source srcset="images/control-img-large.png, images/control-img-large-2x.png 2x">
                <img src="images/control-img-small.png" alt="image description">
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-actions">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body d-flex flex-column flex-md-row align-items-center justify-content-center justify-content-md-between position-relative">
              <div class="text-holder position-relative">
                <h4 class="card-title">Get started</h4>
                <p class="card-text hidden-md-down">Ready to learn more? Contact our team today.</p>
              </div>
              <div class="btn-holder position-relative">
                <a href="#!" class="btn btn-warning btn-warning-custom badge-pill btn-cta">GET STARTED</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
