---
title: Restaurant food ordering software
description: Foodkit is a omni-channel ecommerce &amp; digital marketing solution for F&amp;B brands. Increase brand loyalty, revenue per user &amp; overall profit.
keywords: foodkit, ecommerce, restaurants, f&amp;b, food and beverage, digital ordering, restaurant software
---
<main id="main">
	<div class="jumbotron position-relative text-light">
		<div class="section-wrapper position-relative">
			<div class="container position-relative">
				<div class="row">
					<div class="col-9 col-sm-7 col-md-7 col-lg-6">
						<div class="holder">
							<div class="jumbotron-holder">
								<h1 class="title">A complete ecommerce platform for restaurant brands</h1>
								<div class="text-holder">
									<p>Take full control of your restaurant brand and customer online, without the stress and cost of building complex technology. One powerful platform, better technology, no hassle.</p>
								</div>
								<a class="btn btn-light btn-light-custom btn-lg badge-pill btn-cta text-uppercase" href="#!" role="button">GET STARTED</a>
							</div>
						</div>
					</div>
				</div>
				<div class="video-box position-absolute h-100">
					<div class="desktop-motion position-absolute">
						<picture>
							<source srcset="images/desktop-motion-small.png, images/desktop-motion-small-2x.png 2x" media="(max-width: 767px)">
							<source srcset="images/desktop-motion-large.png, images/desktop-motion-large-2x.png 2x">
							<img src="images/desktop-motion-small.png" alt="Foodkit">
						</picture>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-services position-relative">
		<div class="container position-relative">
			<div class="row">
				<div class="col-12">
					<header class="section-title text-center">
						<h2 class="title">Trusted and loved by the best</h2>
					</header>
				</div>
				<div class="col-12">
					<ul class="list-unstyled d-flex justify-content-around align-items-center">
						<li>
							<a href="#">
								<picture>
									<source srcset="images/dq-img-small.png, images/dq-img-small-2x.png 2x" media="(max-width: 767px)">
									<source srcset="images/dq-img-large.png, images/dq-img-large-2x.png 2x">
									<img src="images/dq-img-small.png" alt="DQ">
								</picture>
							</a>
						</li>
						<li>
							<a href="#">
								<picture>
									<source srcset="images/the-coffee-club-img-small.png, images/the-coffee-club-img-small-2x.png 2x" media="(max-width: 767px)">
									<source srcset="images/the-coffee-club-img-large.png, images/the-coffee-club-img-large-2x.png 2x">
									<img src="images/the-coffee-club-img-small.png" alt="the coffee club">
								</picture>
							</a>
						</li>
						<li>
							<a href="#">
								<picture>
									<source srcset="images/bonchon-img-small.png, images/bonchon-img-small-2x.png 2x" media="(max-width: 767px)">
									<source srcset="images/bonchon-img-large.png, images/bonchon-img-large-2x.png 2x">
									<img src="images/bonchon-img-small.png" alt="bonchon-img">
								</picture>
							</a>
						</li>
						<li>
							<a href="#">
								<picture>
									<source srcset="images/audrey-img-small.png, images/audrey-img-small-2x.png 2x" media="(max-width: 767px)">
									<source srcset="images/audrey-img-large.png, images/audrey-img-large-2x.png 2x">
									<img src="images/audrey-img-small.png" alt="image description">
								</picture>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="section-advantage">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<header class="section-title text-center">
						<h2 class="title text-primary">Everything needed to power your restaurant online</h2>
						<div class="subtitle">
							<p>Engage your customers anytime, anywhere, and on any device.</p>
						</div>
					</header>
				</div>
				<div class="col-12">
					<div class="position-relative">
						<ul class="list-holder list-unstyled d-flex flex-wrap flex-column flex-md-row justify-content-md-between">
							<li>
								<div class="media flex-column flex-md-row align-items-center">
									<div class="img-holder text-center order-md-10">
										<picture>
											<source srcset="images/digital-img-large.png, images/digital-img-large-2x.png 2x">
											<img src="images/digital-img-small.png" alt="image description">
										</picture>
									</div>
									<div class="media-body text-center text-md-right">
										<h5 class="media-title text-primary">Digital Ordering</h5>
										<p>Your own fully branded iOS and Android apps, in-store kiosks, web and chatbot ordering</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media flex-column flex-md-row align-items-center">
									<div class="img-holder text-center">
										<picture>
											<source srcset="images/logistics-img-large.png, images/logistics-img-large-2x.png 2x">
											<img src="images/logistics-img-small.png" alt="image description">
										</picture>
									</div>
									<div class="media-body text-center text-md-left">
										<h5 class="media-title text-primary">Logistics</h5>
										<p>Full-featured driver apps for your fleet or access a fleet of 3rd party logistics drivers in the foodkit network</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media flex-column flex-md-row align-items-center">
									<div class="img-holder text-center order-md-10">
										<picture>
											<source srcset="images/marketing-img-large.png, images/marketing-img-large-2x.png 2x">
											<img src="images/marketing-img-small.png" alt="image description">
										</picture>
									</div>
									<div class="media-body text-center text-md-right">
										<h5 class="media-title text-primary">Marketing &amp; Loyalty</h5>
										<p>Offer loyalty and reward programmes that customers love and continue to come back for</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media flex-column flex-md-row align-items-center">
									<div class="img-holder text-center">
										<picture>
											<source srcset="images/pos-integration-img-large.png, images/pos-integration-img-large-2x.png 2x">
											<img src="images/pos-integration-img-small.png" alt="image description">
										</picture>
									</div>
									<div class="media-body text-center text-md-left">
										<h5 class="media-title text-primary">POS Integration</h5>
										<p>Streamline your digital operations by seamlessly integrating with leading POS vendors.</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media flex-column flex-md-row align-items-center">
									<div class="img-holder text-center order-md-10">
										<picture>
											<source srcset="images/payments-img-large.png, images/payments-img-large-2x.png 2x">
											<img src="images/payments-img-small.png" alt="image description">
										</picture>
									</div>
									<div class="media-body text-center text-md-right">
										<h5 class="media-title text-primary">Payments &amp; eWallet</h5>
										<p>Integrate into the world’s most popular payment providers and lock-in value with a powerful eWallet.</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media flex-column flex-md-row align-items-center">
									<div class="img-holder text-center">
										<picture>
											<source srcset="images/cs-technology-img-large.png, images/cs-technology-img-large-2x.png 2x">
											<img src="images/cs-technology-img-small.png" alt="image description">
										</picture>
									</div>
									<div class="media-body text-center text-md-left">
										<h5 class="media-title text-primary">Customer Service</h5>
										<p>Automate and optimize your business operations with powerful CS platform.</p>
									</div>
								</div>
							</li>
						</ul>
						<div class="img-bg-holder hidden-lg-down position-absolute">
							<picture>
								<source srcset="images/technology-bg-large.png, images/technology-bg-large-2x.png 2x">
								<img src="images/technology-bg-small.png" alt="image description">
							</picture>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-carousel position-relative">
		<div class="section-wrapper position-relative">
			<div class="holder">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<header class="section-title text-center">
							<h2 class="title h4 text-warning">Any restaurant can now</h2>
						</header>
					</div>
					<div class="col-12">
						<div id="carousel-homepage" class="carousel slide text-light" data-ride="carousel">
							<div class="carousel-item active text-center">
								<div class="carousel-body">
									<h2 class="carousel-title">Offer Digital Ordering like Domino’s</h2>
									<div class="subtitle">
										<p>Offer an ordering experience that keeps your customers coming back again and again.</p>
									</div>
								</div>
								<div class="img-box d-flex justify-content-center align-items-center">
									<div class="img-holder">
										<picture>
											<source srcset="images/carousel-img1-small.png, images/carousel-img1-small-2x.png 2x" media="(max-width: 767px)">
											<source srcset="images/carousel-img1-large.png, images/carousel-img1-large-2x.png 2x">
											<img src="images/carousel-img1-small.png" alt="image description">
										</picture>
									</div>
								</div>
							</div>
							<div class="carousel-item text-center">
								<div class="carousel-body">
									<h2 class="carousel-title">Dispatch like Uber</h2>
									<div class="subtitle">
										<p>Automate and optimise delivery services like the best.</p>
									</div>
								</div>
								<div class="img-box d-flex justify-content-center align-items-center">
									<div class="img-holder">
										<picture>
											<source srcset="images/carousel-img2-small.png, images/carousel-img2-small-2x.png 2x" media="(max-width: 767px)">
											<source srcset="images/carousel-img2-large.png, images/carousel-img2-large-2x.png 2x">
											<img src="images/carousel-img2-small.png" alt="image description">
										</picture>
									</div>
								</div>
							</div>
							<div class="carousel-item text-center">
								<div class="carousel-body">
									<h2 class="carousel-title">Drive Loyalty like Starbucks</h2>
									<div class="subtitle">
										<p>Access a world class loyalty program that rewards customers and boosts sales.</p>
									</div>
								</div>
								<div class="img-box d-flex justify-content-center align-items-center">
									<div class="img-holder">
										<picture>
											<source srcset="images/carousel-img3-small.png, images/carousel-img3-small-2x.png 2x" media="(max-width: 767px)">
											<source srcset="images/carousel-img3-large.png, images/carousel-img3-large-2x.png 2x">
											<img src="images/carousel-img3-small.png" alt="image description">
										</picture>
									</div>
								</div>
							</div>
							<a class="carousel-control-prev" href="#carousel-homepage" role="button" data-slide="prev">
								<!--<span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
								<i class="icon-arrow"></i>
								<span class="sr-only">Previous</span>
							</a>
							<a class="carousel-control-next" href="#carousel-homepage" role="button" data-slide="next">
								<!--<span class="carousel-control-next-icon" aria-hidden="true"></span>-->
								<i class="icon-arrow"></i>
								<span class="sr-only">Next</span>
							</a>
							<ol class="carousel-indicators justify-content-sm-around mb-0">
								<li data-target="#carousel-homepage" data-slide-to="0" class="active">
									<div class="pagination-title text-center hidden-md-down">
										<p>Digital Ordering like Domino’s</p>
									</div>
								</li>
								<li data-target="#carousel-homepage" data-slide-to="1">
									<div class="pagination-title text-center hidden-md-down">
										<p>Dispatch like Uber </p>
									</div>
								</li>
								<li data-target="#carousel-homepage" data-slide-to="2">
									<div class="pagination-title text-center hidden-md-down">
										<p>Drive Loyalty like Starbucks</p>
									</div>
								</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		<div class="carousel-decoration position-absolute hidden-md-down">
			<div class="img-holder">
				<picture>
					<source srcset="images/logo-large.png, images/logo-large-2x.png 2x">
					<img src="images/logo-large.png" alt="image description">
				</picture>
			</div>
		</div>
	</div>
	<div class="section-description">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<ul class="description-list list-unstyled d-flex flex-column align-items-center align-items-md-stretch">
						<li class="media flex-column flex-md-row align-items-center justify-content-md-between">
							<div class="img-holder img-decoration d-flex mb-sm-3 mb-md-0 order-md-10">
								<div class="position-relative">
									<div class="static-img">
										<div class="rounded-circle">
											<picture>
												<source srcset="images/description-img1-small.jpg, images/description-img1-small-2x.jpg 2x" media="(max-width: 767px)">
												<source srcset="images/description-img1-large.jpg, images/description-img1-large-2x.jpg 2x">
												<img src="images/description-img1-small" alt="image description">
											</picture>
										</div>
									</div>
									<div class="small-img rounded-circle position-absolute">
										<picture>
											<source srcset="images/description-img2-small.jpg, images/description-img2-small-2x.jpg 2x" media="(max-width: 767px)">
											<source srcset="images/description-img2-large.jpg, images/description-img2-large-2x.jpg 2x">
											<img src="images/description-img2-small.jpg" alt="image description">
										</picture>
									</div>
								</div>
							</div>
							<div class="media-body text-center text-md-left">
								<h2 class="media-title text-primary">A digital experience that delights customers</h2>
								<p>Foodkit offers a best-in-class online ordering experience that keeps your customers coming back for more.</p>
							</div>
						</li>
						<li class="media flex-column flex-md-row align-items-center justify-content-md-between">
							<div class="img-holder d-flex mb-3 mb-md-0">
								<picture>
									<source srcset="images/description-img3-small.png, images/description-img3-small-2x.png 2x" media="(max-width: 767px)">
									<source srcset="images/description-img3-large.png, images/description-img3-large-2x.png 2x">
									<img src="images/description-img3-small.png" alt="image description">
								</picture>
							</div>
							<div class="media-body text-center text-md-left">
								<h2 class="media-title text-primary">Goodbye complex technology. Hello Foodkit</h2>
								<p>Foodkit eliminates all the complexity and cost associated with developing and maintaining an online restaurant business in today’s rapidly evolving world.</p>
							</div>
						</li>
						<li class="media flex-column flex-md-row align-items-center justify-content-md-between">
							<div class="img-holder img-caption-holder d-flex mb-3 mb-md-0 order-md-10">
								<div class="position-relative">
									<div class="img-caption-decoration position-relative">
										<picture>
											<source srcset="images/description-img4-small.png, images/description-img4-small-2x.png 2x" media="(max-width: 767px)">
											<source srcset="images/description-img4-large.png, images/description-img4-large-2x.png 2x">
											<img src="images/description-img4-small.png" alt="image description">
										</picture>
									</div>
									<div class="img-caption-box d-flex flex-column align-items-center justify-content-center position-absolute rounded-circle">
										<span class="d-inline-flex">Pip Villaporn</span>
										<span class="position text-primary d-inline-flex">Customer Care</span>
									</div>
								</div>
							</div>
							<div class="media-body text-center text-md-left">
								<h2 class="media-title text-primary">We’re not just a platform,
									we’re your partner</h2>
								<p>Foodkit is not ‘just’ another platform. The Foodkit team works alongside your restaurant business, ensuring that you fully maximise your online opportunity.</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="section-services-box position-relative">
		<div class="section-wrapper position-relative">
			<div class="holder position-relative">
			<div class="container">
			<div class="row">
				<div class="col-12">
					<header class="section-title text-center text-light">
						<h2 class="title">Two services, one powerful platform</h2>
					</header>
				</div>
				<div class="col-12">
					<ul class="list-holder list-unstyled d-flex flex-wrap flex-column flex-sm-row justify-content-around">
						<li class="card">
							<div class="card-img-top d-flex justify-content-center align-items-end" style="background: #4FC4FF;">
								<div class="img-holder position-relative">
									<picture>
										<source srcset="images/services-img-1-small.png, images/services-img-1-small-2x.png 2x" media="(max-width: 767px)">
										<source srcset="images/services-img-1-large.png, images/services-img-1-large-2x.png 2x">
										<img src="images/services-img-1-small.png" alt="image description">
									</picture>
								</div>
							</div>
							<div class="card-body text-center">
								<h4 class="card-title text-primary">Out-of-the-box products</h4>
								<p class="card-text">A full suite of world-class products including apps, in-store kiosks, logistics, payments plus much, much more.</p>
							</div>
						</li>
						<li class="card">
							<div class="card-img-top d-flex justify-content-center align-items-end" style="background: #08F5DF;">
								<div class="img-holder position-relative">
									<picture>
										<source srcset="images/services-img-2-small.png, images/services-img-2-small-2x.png 2x" media="(max-width: 767px)">
										<source srcset="images/services-img-2-large.png, images/services-img-2-large-2x.png 2x">
										<img src="images/services-img-2-small" alt="image description">
									</picture>
								</div>
							</div>
							<div class="card-body text-center">
								<h4 class="card-title text-primary">Foodkit for Developers</h4>
								<p class="card-text">A complete API framework for F&amp;B. Build faster, maintain easier &amp; scale stress-free. Save up to 80% on development time.</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		</div>
		</div>
	</div>
	<div class="section-promo">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<header class="section-title text-center">
						<h2 class="title text-primary">Your brand, built your way</h2>
						<div class="subtitle">
							<p>Foodkit gives you the creative control needed to communicate your brand, the way it needs to be communicated.</p>
						</div>
					</header>
				</div>
				<div class="col-12">
					<div class="list-box d-flex justify-content-end position-relative">
						<ul class="list-holder list-unstyled d-flex justify-content-between align-items-center">
							<li class="hidden-md-down left-image">
								<picture>
									<source srcset="images/promo-img1-large.png, images/promo-img1-large-2x.png 2x">
									<img src="images/promo-img1-small.png" alt="image description">
								</picture>
							</li>
							<li class="middle-image">
								<picture>
									<source srcset="images/promo-img2-small.png, images/promo-img2-small-2x.png 2x" media="(max-width: 767px)">
									<source srcset="images/promo-img2-large.png, images/promo-img2-large-2x.png 2x">
									<img src="images/promo-img2-small.png" alt="image description">
								</picture>
							</li>
							<li class="right-image">
								<picture>
									<source srcset="images/promo-img3-small.png, images/promo-img3-small-2x.png 2x" media="(max-width: 767px)">
									<source srcset="images/promo-img3-large.png, images/promo-img3-large-2x.png 2x">
									<img src="images/promo-img3-small.png" alt="image description">
								</picture>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-actions">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body d-flex flex-column flex-md-row align-items-center justify-content-center justify-content-md-between position-relative">
							<div class="text-holder position-relative">
								<h4 class="card-title">Get Started</h4>
								<p class="card-text hidden-md-down">
									Book a demo – get answers to any questions and find out how to get started.
								</p>
							</div>
							<div class="btn-holder position-relative">
								<a href="#!" class="btn btn-warning btn-warning-custom badge-pill btn-cta">BOOK A DEMO</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
