---
title: Terms &amp; Conditions
---
<main id="main" class="content-terms-and-conditions">
  <div class="section-page-header position-relative">
    <div class="section-wrapper position-relative">
      <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="holder d-flex align-items-center justify-content-center">
            <header class="section-title text-center text-light">
              <h2 class="title">Terms and Conditions</h2>
            </header>
          </div>
        </div>
        <div class="col-md-12 content">
          <h2>SECTION 1: INTRODUCTION</h2>
          Welcome to foodkit.io, a food delivery website (the “Website”) operated by Kinja Digital (Ginja) Singapore Pte Ltd and Ginja Co., Ltd (“we”, “us”, “our”, “Ginja” or the “Company”) in Bangkok, Thailand. This page together with the documents referred to on it (the “Agreement”) tells you the terms and conditions on which our partner restaurants (“Partner Restaurants”) supply any of their meals (the “Meals”) listed on our site to you. Please read these terms and conditions (the “T&amp;C’s”) carefully before ordering any Meals from our site. By accessing our Website and placing an order you agree to be bound by these T&amp;C’s and our terms of use policy.
          <h2>SECTION 2: ORDERING</h2>
          2.1. By placing an order through our Website, you enter into an agreement with Ginja with respect to the processing of that order and forwarding it to the Partner Restaurant. If you are paying online, Ginja is also responsible for any returns or refunds. The Partner Restaurant remains responsible for the preparation and quality of your order. You agree to take particular care when providing us with your details and warrant that these details are accurate and complete at the time of ordering. You also warrant that the credit or debit card details that you provide are from your own credit or debit card and that you have sufficient funds to make the payment.<br><br>
          2.2. Meals purchased from this Website are intended for your use only and you warrant that any Meals purchased by you are not for resale and that you are acting as principal only and not as agent for another party when receiving the Meals.<br><br>
          2.3. When ordering from this Website you may be required to provide a phone number and password. You must ensure that you keep the combination of these details secure and do not provide this information to a third party.<br><br>
          2.4. We will take all reasonable care, in so far as it is in our power to do so, to keep the details of your order and payment secure, but in the absence of negligence on our part we cannot be held liable for any loss you may suffer if a third party procures unauthorized access to any data you provide when accessing or ordering from the Website.<br><br>
          2.5. Any order that you place with us is subject to product availability, delivery capacity and acceptance by us and the Partner Restaurant. When you place your order online, we will send you an email to confirm that we have received it. This email confirmation will be produced automatically so that you have confirmation of your order details. You must inform us immediately if any details are incorrect. The fact that you receive an automatic confirmation does not necessarily mean that either we or the Partner Restaurant will be able to fill your order. Once we have sent the confirmation email we will check availability and delivery capacity.<br><br>
          2.6. If the ordered Meal and delivery capacity is available, the Partner Restaurant will accept the contract and confirm it to Ginja. If the details of the order are correct, the contract for the Meals will be confirmed by text message (SMS) and email if an email address is supplied.<br><br>
          2.7. The confirmation message will specify delivery details and the approximate delivery time specified by the Partner Restaurant.<br><br>
          2.8. If the Meals are not available or if there is no delivery capacity, we will also let you know by mail or phone call.<br><br>
          <h2>SECTION 3: PRICES AND PAYMENT</h2>
          3.1. Any contract for the supply of Meals from this Website is between you and the Partner Restaurant while any contact is between you and Ginja. You agree to take particular care when providing us with your details and warrant that these details are accurate and complete at the time of ordering. You also warrant that the credit or debit card details that you provide are for your own credit or debit card and that you have sufficient funds to make the payment.<br><br>
          3.2. All prices listed on the Website are correct at the time of publication; however, we reserve the right to alter these in the future. Prices are inclusive of the relevant sales tax and delivery charges. We also reserve the right to alter the Meals available for sale on the Website and to stop listing restaurants and Meals.<br><br>
          3.3. All prices listed on the Website by the Partner Restaurant reflect the price that the Partner Restaurant or the third party provider charges at the time of listing. We give great care to keep them up to date. In case the price listed is not current and the restaurant informs us immediately after placing the order, we will contact you to inform you about the price difference and you can choose to opt-out of the order.<br><br>
          3.4. All prices for delivery listed on the Website are correct at the time of publication, however, we reserve the right to alter these in the future.<br><br>
          3.5. The total price for Meals ordered, including delivery charges and other charges, will be displayed on the Website when you place your order. Full payment must be made for all Meals delivered. Payment has to be made in cash or, if available on the website, by online payment (e.g. credit, debit card or PayPal) or bank transfer.<br><br>
          3.6. If you choose online payment, you must pay for your order before it is delivered. To ensure that shopping online is secure, your debit/credit card details will be encrypted to prevent the possibility of someone being able to read them as they are sent over the internet. Your credit card company may also conduct security checks to confirm it is you placing the order.<br><br>
          <h2>SECTION 4: DELIVERY</h2>
          4.1. Delivery periods quoted at the time of ordering are approximate only and may vary. Meals will be delivered to the address designated by you at the time of ordering.<br><br>
          4.2. If delivery is done by the Partner Restaurant or its delivery partners, it is the Partner Restaurant’s sole responsibility to provide Meals in a timely manner.<br><br>
          4.3. In the case delivery is done by Ginja or a third party delivery partner assigned by Ginja, we will give great care to deliver in a timely manner. No responsibility is taken for late delivery by Ginja in either case.<br><br>
          4.4. All orders are delivered by a reputable courier. We and the Partner Restaurant will make every effort to deliver within the time stated, however, we will not be liable for any loss caused to you by delivering late. If the Meals are not delivered within the estimated delivery time quoted by us, please contact the Partner Restaurant first. You may also contact us by telephone or email and we will try to ensure that you receive your order as quickly as possible.<br><br>
          4.5. In case of a late delivery, the delivery charge will neither be voided nor refunded by Ginja.<br><br>
          4.6. All risk in the Meals shall pass to you upon delivery.<br><br>
          4.7. If you fail to accept delivery of Meals at the time they are ready for delivery, or we are unable to deliver at the nominated time due to your failure to provide appropriate instructions, or authorizations, then such Meals shall be deemed to have been delivered to you and all risk and responsibility in relation to such Meals shall pass to you. Any storage, insurance, and other costs which we incur as a result of the inability to deliver shall be your responsibility and you shall indemnify us in full for such cost.<br><br>
          4.8. You must ensure that at the time of delivery of Meals adequate arrangements, including access where necessary, are in place for the safe delivery of such Meals. We cannot be held liable for any damage, cost or expense incurred to such Meals or premises where this arises as a result of a failure to provide adequate access or arrangements for delivery.<br><br>
          4.9. Partner Restaurants and we shall not be liable to you for any losses, liabilities, costs, damages, charges or expenses arising out of late delivery.<br><br>
          4.10. Please note that it might not be possible for Partner Restaurants to deliver to some locations. If this is the case, our Partner Restaurants or we will inform you using the contact details that you provide to us when you make your order and arrange for cancellation of the order or delivery to an alternative delivery address.<br><br>
          <h2>SECTION 5: CANCELLATION &amp; REFUND POLICY</h2>
          5.1. You can cancel or amend your order at any time by contacting us, but there are limitations on when changes or cancellations to orders can be made. Your order begins processing almost immediately after you checkout, during this processing time it may be possible to cancel your order, but once the order moves into the restaurant process, it cannot be canceled.<br><br>
          5.2. Ginja or our Partner Restaurant may provide you with a refund in certain circumstances.  If you are not satisfied with your order, please contact us and we shall liaise with the restaurant.<br><br>
          In order to be eligible for a refund, you must contact Ginja within 30 minutes of receiving your order and store the received items in the manner appropriate to the type of food (e.g. keep chilled items chilled, frozen item frozen etc.). Notwithstanding the foregoing, refunds are not given to food already consumed and will be subject to Ginja's discretion.<br><br>
          <h2>SECTION 6: LIMITATION OF LIABILITY</h2>
          6.1. Great care has been taken to ensure that the information available on this Website is correct and error free. We apologize for any errors or omissions that may have occurred. We cannot warrant that use of the Website will be error free or fit for purpose, timely, that defects will be corrected, or that the site or the server that makes it available are free of viruses or bugs or represents the full functionality, accuracy, reliability of the Website and we do not make any warranty whatsoever, whether express or implied, relating to fitness for purpose, or accuracy.<br><br>
          6.2. By accepting these terms of use you agree to relieve us from any liability whatsoever arising from your use of information from any third party, or your use of any third party website, or your consumption of any food or beverages from a Partner Restaurant.<br><br>
          6.3. We disclaim any and all liability to you for the supply of Meals to the fullest extent permissible under applicable law. This does not affect your statutory rights as a consumer. If we are found liable for any loss or damage to you such liability is limited to the amount you have paid for the relevant Meals. We cannot accept any liability for any loss, damage or expense, including any direct or indirect loss such as loss of profits to you, howsoever arising. This limitation of liability does not apply to personal injury or death arising as a direct result of our negligence.<br><br>
          6.4. We do not accept any liability for any delays, failures, errors or omissions or loss of transmitted information, viruses or other contamination or destructive properties transmitted to you or your computer system via our Website.<br><br>
          6.5. We shall not be held liable for any failure or delay in delivering Meals where such failure or delay arise as a result of an event of Force Majeure.<br><br>
          6.6. The Meals delivered by us are provided for private domestic and consumer use only. Accordingly, we do not accept liability for any indirect loss, consequential loss, loss of data, loss of income or profit, loss of damage to property and/or loss from claims of third parties arising out of the use of the Website or for any products or services purchased from us.<br><br>
          6.7. In the event Ginja has a reasonable belief that there exists an abuse of vouchers and/or discount codes or in suspected instances of fraud, Ginja may cause the shopper (or customer) to be blocked immediately and reserves the right to refuse future service. Additionally, should there exist an abuse of vouchers or discount codes, Ginja reserves the right to seek compensation from any and all violators.<br><br>
          6.8. Offers are subject to Ginja's discretion and may be withdrawn at any time and without notice.<br><br>
          <h2>SECTION 7: GENERAL</h2>
          7.1. All prices are in Thai baht. GST is included where indicated.<br><br>
          7.2. We may subcontract any part or parts of the Meals that we provide to you from time to time and we may assign or novate any part or parts of our rights under these T&amp;Cs without your consent or any requirement to notify you.<br><br>
          7.3. We may alter or vary the T&amp;Cs at any time without notice to you.<br><br>
          7.4. By using this website, you agree not to collect or harvest any personally identifiable information from the website, use communication systems provided by the website for any commercial solicitation purposes, solicit for any reason whatsoever any users of the website with respect to their submissions to the website, or publish or distribute any vouchers or codes in connection with the website, or scrape or hack the website.<br><br>
          7.5. The T&amp;Cs together with the Privacy Policy, any order form and payment instructions constitute the entire agreement between you and us. No other terms whether expressed or implied shall form part of this Agreement. In the event of any conflict between these T&amp;Cs and any other term or provision on the Website, these T&amp;Cs shall prevail.<br><br>
          7.6. If any term or condition of our Agreement shall be deemed invalid, illegal or unenforceable, the parties hereby agree that such term or condition shall be deemed to be deleted and the remainder of the Agreement shall continue in force without such term or condition.<br><br>
          7.7. This Agreement shall be governed by and construed in accordance with the laws of Thailand. The parties hereto submit to the exclusive jurisdiction of the courts of Thailand.<br><br>
          7.8. All dealings, correspondence and contacts between us shall be made or conducted in the English language.<br><br>
          <br><br>
          <p></p>
      </div>
      </div>
    </div>
    </div>
  </div>
</main>
